/* navbar.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #05C7F2;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #05C7F2;
    color: white;
}

.navbar a:active {
    background-color: #0288D1;
    color: white;
}

.navbar img {
    height: 40px;
}
